.vscode/**
.git/**
.github/**
src/**
node_modules/**
# *.md (Keep README and CHANGELOG)
!README.md
!CHANGELOG.md
!LICENSE
*.vsix
.eslintrc.json
.prettierrc
tsconfig.json
esbuild.js
.editorconfig
.gitignore
